**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
../assets/icons/Flutter/App.framework
../assets/icons/Flutter/Flutter.framework
../assets/icons/Flutter/Flutter.podspec
../assets/icons/Flutter/Generated.xcconfig
../assets/icons/Flutter/ephemeral/
../assets/icons/Flutter/app.flx
../assets/icons/Flutter/app.zip
../assets/icons/Flutter/flutter_assets/
../assets/icons/Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
